:root {
  --basic-black: 0, 0, 0;
  --basic-dark: 54, 54, 54;
  --basic-grey: 70, 70, 70;

  --basic-half-grey: 126, 126, 126;
  --basic-grey-light: 229, 229, 229;
  --basic-white: 255, 255, 255;

  --special-yellow-dark: 240, 197, 46;
  --special-yellow: 247, 226, 150;
  --special-green: 145, 201, 47;

  --status: 246, 218, 218;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2"),
  url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2"),
  url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2"),
  url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

body {
  min-width: 1440px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;

  color: rgb(var(--basic-black));
}

.main-header {
  background-color: rgb(var(--special-yellow));
}

.main-header-logo:hover {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}

.search-form-label::before {
  content: url("../img/search.svg")
}

.search-form-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: rgba(var(--basic-black), 0.3);

  background-color: transparent;
  border: 2px solid transparent;
}
.search-form-input:hover {
  color: rgba(var(--basic-black), 0.6);
}
.search-form-input:focus {
  color: rgba(var(--basic-black), 1);

  border-bottom: 2px solid var(--basic-black);
}
.search-form-input::placeholder {
  color: inherit;
}
.search-form-input::-webkit-input-placeholder {
  color: inherit;
}
.search-form-input::-moz-placeholder {
  color: inherit;
}
.search-form-input::-ms-input-placeholder {
  color: inherit;
}

.search-form-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(var(--basic-black));

  background-color: transparent;
  border: 2px solid rgb(var(--basic-black));
}
.search-form-button:hover {
  color: rgb(var(--basic-white));

  background-color: rgb(var(--basic-black));
}
.search-form-button:active {
  color: rgba(var(--basic-white), 0.3);

  background-color: rgb(var(--basic-black));
}

.header-user-navigation-list {
  list-style: none;
}
.header-user-navigation-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.header-user-navigation-link.logout {
  color: rgba(var(--basic-black), 0.3);
}
.header-user-navigation-link:not(.logout):hover {
  opacity: 0.6;
}
.header-user-navigation-link:not(.logout):active {
  opacity: 0.3;
}

.header-site-navigation-list {
  list-style: none;
}
.header-site-navigation-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(var(--basic-black));
}
.header-site-navigation-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.header-site-navigation-link:active {
  color: rgba(var(--basic-black), 0.3);
}

.extra-navigation-list {
  list-style: none;
}
.extra-navigation-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.extra-navigation-link {
  color: rgb(var(--basic-black));
}
.extra-navigation-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.extra-navigation-link:active {
  color: rgba(var(--basic-black), 0.3);
}

.about-us-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.about-us-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}
.about-us-companies {
  list-style: none;
}
.about-us-companies-item {
  font-family: "Gilroy", "Arial", sans-serif;
  list-style-type: none;
  list-style-image: url("../img/list-bullet-icon.svg");
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid transparent;

  color: rgb(var(--basic-black));
}
.button:hover,
.button:focus {
  background: rgb(var(--special-yellow-dark));
}
.button:active {
  background: rgb(var(--special-yellow-dark));
  color: rgba(var(--basic-black), 0.3);

}

.contacts-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

  color: var(--basic-black);
}
.contacts-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.main-footer {
  background-color: rgb(var(--basic-dark));
  color: rgb(var(--basic-white));
}

.main-footer-logo:hover {
  opacity: 0.6;
}
.main-footer-logo:active {
  opacity: 0.3;
}
.main-footer-logo svg > g {
  fill: rgb(var(--special-yellow-dark));
}

.footer-user-navigation-list {
  list-style: none;
}
.footer-user-navigation-link {
  color: rgba(var(--basic-white), 0.7);
}
.footer-user-navigation-link:hover {
  color: rgba(var(--basic-white), 1);
}
.footer-user-navigation-link:active {
  color: rgba(var(--basic-white), 0.3);
}
.footer-user-navigation-icon > path,
.footer-user-navigation-icon > g {
  fill: rgb(var(--special-yellow-dark));
}
.footer-user-navigation-link:hover .icon-color,
.footer-user-navigation-link:hover .icon-color {
  fill: rgba(var(--special-yellow-dark), 0.6);
}
.footer-user-navigation-link:active .icon-color,
.footer-user-navigation-link:active .icon-color {
  fill: rgba(var(--special-yellow-dark), 0.3);
}

.footer-site-navigation-list {
  list-style: none;
}
.footer-site-navigation-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-white);
}
.footer-site-navigation-link {
  color: var(--basic-white);
}
.footer-site-navigation-link:hover {
  color: rgba(var(--basic-white), 0.6);
}
.footer-site-navigation-link:active {
  color: rgba(var(--basic-white), 0.3);
}

.tel {
  color: var(--basic-white);
}
.tel a {
  color: var(--basic-white);
}

.socials-list {
  list-style: none;
}
.socials-list-item {
  opacity: 0.3;
}
.socials-list-item:hover {
  opacity: 0.6;
}
.socials-list-item:active {
  opacity: 0.1;
}
.socials-list-item .facebook::before {
  content: url("../img/facebook.svg");
}
.socials-list-item .instagram::before {
  content: url("../img/instagram.svg");
}
.socials-list-item .twitter::before {
  content: url("../img/twitter.svg");
}

.copyright:hover {
  opacity: 0.6;
}
.copyright:active {
  opacity: 0.3;
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  color: var(--basic-black);
}

.breadcrumbs-list {
  list-style: none;
}
.breadcrumbs-list-item:not(:last-of-type)::after {
  content: url("../img/arrow-nav.svg");
}
.breadcrumbs-list-link {
  color: rgba(var(--basic-black), 0.3)
}
.breadcrumbs-list-link:hover {
  color: rgba(var(--basic-black), 0.6)
}
.breadcrumbs-list-link:active {
  color: rgba(var(--basic-black), 0.1)
}

.filter-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.filter-legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;

  color: rgb(var(--basic-black));
}

.filter-form label,
.filter-form input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: rgb(var(--basic-black));
}

.price-range label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter-form .colors-list {
  list-style: none;
}
.filter-form .bluetooth-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}
.catalog-list-item .item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.catalog-list-item .item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.catalog-list-item .compare-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: rgba(var(--basic-black), 0.5);
}
.catalog-list-item .compare-link:hover {
  color: rgba(var(--basic-black), 1);
}
.catalog-list-item .compare-link:active {
  color: rgba(var(--basic-black), 0.2);
}

.slider-controls-list {
  list-style: none;
}
.slides-list {
  list-style: none;
}
.slide-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.slide-description-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;
}
.slide-description-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.1em;
}

.populars-list {
  list-style: none;
}
.populars-list-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  color: rgb(var(--basic-black));
}

.populars-list-link:active {
  color: rgba(var(--basic-black), 0.3);
}
.populars-list-icon {

}
.populars-list-link:active .icon-opacity {
  fill-opacity: 0.3;
}

.services-navigation-list {
  list-style: none;
}
.services-navigation-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: rgb(var(--basic-black));
}
.services-navigation-link:hover {
  background-color: rgb(var(--special-yellow-dark));
}
.services-navigation-link.active {
  color: rgb(var(--special-yellow));

  background-color: rgb(var(--basic-black));
}

.service-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  letter-spacing: 0.2em;
}

.service-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  letter-spacing: 0.1em;
}

.logotypes-list {
  list-style: none;
}
.logotypes-list-logo.logo1:hover {
  background-image: url("../img/logo-1-hover.png");
}
.logotypes-list-logo.logo2:hover {
  background-image: url("../img/logo-2-hover.png");
}
.logotypes-list-logo.logo3:hover {
  background-image: url("../img/logo-3-hover.png");
}
.logotypes-list-logo.logo4:hover {
  background-image: url("../img/logo-4-hover.png");
}


.sorting-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sorting-properties-list {
  list-style: none;
}
.sorting-properties-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: rgba(var(--basic-black), 0.3);
}
.sorting-properties-link.active {
  color: rgb(var(--basic-black));
}
.sorting-properties-link:not(.active):hover {
  color: rgba(var(--basic-black), 0.6);
}
.sorting-properties-link:not(.active):active {
  color: rgba(var(--basic-black), 1);
}

.sorting-order-variants-list {
  list-style: none;
}
.sorting-order-variants-icon:not(.active) .icon-color{
  fill: rgba(var(--basic-black), 0.2);
}
.sorting-order-variants-icon.active .icon-color{
  fill: rgba(var(--basic-black), 1);
}
.sorting-order-variants-link:hover .icon-color{
  fill: rgba(var(--basic-black), 0.4);
}
.sorting-order-variants-link:active .icon-color{
  fill: rgba(var(--basic-black), 1);
}

.pagination-page-number-list {
  list-style: none;
}
.pagination-button,
.pagination-page-number-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pagination-page-number-link:not(.active) {
  color: rgba(var(--basic-black), 0.3);
}
.pagination-page-number-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.pagination-page-number-link:active {
  color: rgba(var(--basic-black), 1);
}

.pagination-button:hover {
  background-color: rgb(var(--basic-grey-light));
}
.pagination-button:active {
  color: rgba(var(--basic-black), 0.3);

  background-color: rgb(var(--basic-grey-light));
}

