:root {
  --basic-black: 0, 0, 0;
  --basic-dark: 54, 54, 54;
  --basic-grey: 70, 70, 70;

  --basic-half-grey: 126, 126, 126;
  --basic-grey-light: 229, 229, 229;
  --basic-white: 255, 255, 255;
  --basic-pagination-grey: 235, 235, 235;
  --basic-pagination-button-hover: 217, 217, 217;
  --basic-filter-grey: 220, 220, 220;

  --special-yellow-dark: 240, 197, 46;
  --special-yellow: 247, 226, 150;
  --special-green: 145, 201, 47;

  --special-yellow-decoration-bar: 255, 198, 0;

  --status: 246, 218, 218;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2"),
  url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2"),
  url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2"),
  url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body {
  min-width: 1240px;
  max-height: 1240px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;

  color: rgb(var(--basic-black));
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}



/* Header start*/
.main-header {
  min-height: 206px;
  background-color: rgb(var(--special-yellow));
  padding: 0 60px;
}
.main-header-index {
  min-height: 344px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-middle {
  display: flex;
  margin-bottom: 50px;
}
.header-user-navigation-list {
  min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}
.header-user-navigation-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.header-user-navigation-item:first-child {
  margin-right: auto;
}

.header-user-navigation-item {
  margin-right: 40px;
}
.header-user-navigation-item:last-child{
  margin-right: 0;
}
.header-user-navigation-item.logged-in + .header-user-navigation-item {
  margin-right: auto;
}

.header-user-navigation-link.logout {
  color: rgba(var(--basic-black), 0.3);
}
.header-user-navigation-link:not(.logout):hover {
  opacity: 0.6;
}
.header-user-navigation-link:not(.logout):active {
  opacity: 0.3;
}
.header-site-navigation-list {
  width: 1040px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
  list-style: none;
}

.header-site-navigation-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(var(--basic-black));
}

.header-site-navigation-item:first-child {
  margin-right: auto;
}
.header-site-navigation-item:nth-child(2) {
  margin-right: 38px;
}
.header-site-navigation-item:nth-child(3) {
  margin-right: 111px;
}

.header-site-navigation-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.header-site-navigation-link:active {
  color: rgba(var(--basic-black), 0.3);
}

.extra-navigation {
  display: flex;
  flex-direction: row;
}
.extra-navigation-list {
  width: 200px;
}
.main-header-logo {
  margin: 0;
  padding: 0;

  width: 163px;
  min-height: 35px;
  margin-bottom: 22px;
}
.main-header-logo-svg {
  padding: 0;
  margin: 0;
}
.main-header-logo:hover {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}
.search-form {
  width: 440px;

  margin: 0;
  margin-right: 100px;
  padding: 0;
}
.search-form-input {
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: rgba(var(--basic-black), 0.3);

  min-width: 356px;

  margin: 0;
  padding: 0;
  padding-left: 35.5px;

  background-color: transparent;
  border: 2px solid transparent;
}
.search-form-input:hover {
  color: rgba(var(--basic-black), 0.6);
}
.search-form-input:focus {
  color: rgba(var(--basic-black), 1);

  border-bottom: 2px solid var(--basic-black);
}
.search-form-input::placeholder {
  color: inherit;
}
.search-form-input::-webkit-input-placeholder {
  color: inherit;
}
.search-form-input::-moz-placeholder {
  color: inherit;
}
.search-form-input::-ms-input-placeholder {
  color: inherit;
}

.search-form-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(var(--basic-black));

  background-color: transparent;
  border: 2px solid rgb(var(--basic-black));
}
.search-form-button:hover {
  color: rgb(var(--basic-white));

  background-color: rgb(var(--basic-black));
}
.search-form-button:active {
  color: rgba(var(--basic-white), 0.3);

  background-color: rgb(var(--basic-black));
}

.extra-navigation-list {
  min-width: 160px;

  margin: 0;
  padding: 0;
  margin-right: 40px;

  list-style: none;
}
.extra-navigation-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.extra-navigation-link {
  color: rgb(var(--basic-black));
}
.extra-navigation-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.extra-navigation-link:active {
  color: rgba(var(--basic-black), 0.3);
}

/* Header end*/




/* About us and contacts start*/
.two-columns-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 86px;
}

.about-us {
  width: 500px;
  min-height: 580px;
  padding: 0;
  margin: 0;
}
.contacts {
  width: 560px;
}

.about-us-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

  margin-top: 50px;
  margin-bottom: 50px;
}
.about-us-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  margin-bottom: 40px;
}
.about-us-companies {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 84px;
  list-style: none;
}
.about-us-companies-item {
  font-family: "Gilroy", "Arial", sans-serif;
  list-style-type: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.about-us-companies-item:last-child {
  margin-bottom: 0;
}


.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid transparent;

  color: rgb(var(--basic-black));
}
.button:hover,
.button:focus {
  background: rgb(var(--special-yellow-dark));
}
.button:active {
  background: rgb(var(--special-yellow-dark));
  color: rgba(var(--basic-black), 0.3);
}

.contacts-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

  color: var(--basic-black);

  margin-top: 50px;
  margin-bottom: 50px;
}
.contacts-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  margin-bottom: 40px;
}
.contacts-map {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
}
/* About us and contacts end*/



/* Footer start*/
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 40px;
  min-height: 53px;
}
.main-footer {
  background-color: rgb(var(--basic-dark));
  color: rgb(var(--basic-white));
  padding-bottom: 65px;
}

.main-footer-logo {
  width: 163px;
  height: 35px;
  align-self: flex-end;
}

.main-footer-logo:hover {
  opacity: 0.6;
}
.main-footer-logo:active {
  opacity: 0.3;
}
.main-footer-logo .logo-color {
  fill: rgb(var(--special-yellow-dark));
}

.footer-user-navigation-list {
  min-width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-start;

  list-style: none;
}

.footer-user-navigation-item:not(:last-child) {
  margin-right: 40px;
}
.footer-user-navigation-link {
  color: rgba(var(--basic-white), 0.7);
}
.footer-user-navigation-link:hover {
  color: rgba(var(--basic-white), 1);
}
.footer-user-navigation-link:active {
  color: rgba(var(--basic-white), 0.3);
}
.footer-user-navigation-icon > path,
.footer-user-navigation-icon > g {
  fill: rgb(var(--special-yellow-dark));
}
.footer-user-navigation-link:hover .icon-color,
.footer-user-navigation-link:hover .icon-color {
  fill: rgba(var(--special-yellow-dark), 0.6);
}
.footer-user-navigation-link:active .icon-color,
.footer-user-navigation-link:active .icon-color {
  fill: rgba(var(--special-yellow-dark), 0.3);
}

.footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 67px;
}
.address {
  width: 300px;
  margin: 0;
  padding: 0;
}
.address p {
  margin: 0;
  padding: 0;
}

.footer-site-navigation-list {
  margin: 0;
  padding: 0;
  min-width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer-site-navigation-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-white);
}
.footer-site-navigation-link {
  color: var(--basic-white);
}
.footer-site-navigation-link:hover {
  color: rgba(var(--basic-white), 0.6);
}
.footer-site-navigation-link:active {
  color: rgba(var(--basic-white), 0.3);
}

.tel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 200px;
  margin: 0;
  padding: 0;
}

.tel {
  padding: 0;
  margin: 0;
  color: var(--basic-white);
}
.tel a {
  color: var(--basic-white);
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.decorate-bar {
  width: 80px;
  height: 7px;

  margin-top: 12px;
  background-color: rgb(var(--special-yellow-decoration-bar));
}
.socials-list {
  width: 240px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.socials-list-item {
  margin-right: 20px;
  opacity: 0.3;
}
.socials-list-item:last-child {
  margin-right: 0;
}
.socials-list-item:hover {
  opacity: 0.6;
}
.socials-list-item:active {
  opacity: 0.1;
}
.socials-list-item .facebook::before {
  content: url("../img/facebook.svg");
}
.socials-list-item .instagram::before {
  content: url("../img/instagram.svg");
}
.socials-list-item .twitter::before {
  content: url("../img/twitter.svg");
}

.copyright {
  margin: 0;
  padding: 0;
}
.copyright-logo:hover {
  opacity: 0.6;
}
.copyright-logo:active {
  opacity: 0.3;
}
/* Footer end*/

/* Catalog title and breadcrumbs start*/
.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  margin-left: 60px;
  margin-bottom: 30px;

  color: var(--basic-black);
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-left: 60px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.breadcrumbs-list-item {
  margin-right: 40px;
}
.breadcrumbs-list-item:not(:last-of-type)::after {
  content: url("../img/arrow-nav.svg");
}
.breadcrumbs-list-link {
  color: rgba(var(--basic-black), 0.3)
}
.breadcrumbs-list-link:hover {
  color: rgba(var(--basic-black), 0.6)
}
.breadcrumbs-list-link:active {
  color: rgba(var(--basic-black), 0.1)
}
/* Catalog title and breadcrumbs end*/

.catalog-two-column-section {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.catalog-filter-wrapper {
  min-width: 360px;
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--basic-grey-light));

}

.catalog-items-column-wrapper {
  min-width: 872px;
}
.catalog-filter {
  margin-left: auto;
  padding-right: 68px;

  background-color: rgb(var(--basic-grey-light));
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}
.filter-list {
  margin: 0;
  padding: 0;
}
.filter-list-item:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.filter-title {
  display: block;
  padding: 25px 0;

  background-color: rgb(var(--basic-filter-grey));

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.filter-legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;

  margin-bottom: 30px;

  color: rgb(var(--basic-black));
}


.filter-form label,
.filter-form input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  color: rgb(var(--basic-black));
}

.price-range label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter-form .colors-list {
  list-style: none;
}
.filter-form .bluetooth-list {
  list-style: none;
}
.catalog-items-column {
  width: 832px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  padding-left: 72px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  list-style: none;
}
.catalog-list-item {
  width: 360px;
  margin-bottom: 48px;
}
.main-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}
.catalog-list-item .item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;


  width: 276px;
  padding: 0;
  margin: 0;

}
.catalog-list-item .item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.catalog-list-item .compare-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: rgba(var(--basic-black), 0.5);
}
.catalog-list-item .compare-link:hover {
  color: rgba(var(--basic-black), 1);
}
.catalog-list-item .compare-link:active {
  color: rgba(var(--basic-black), 0.2);
}

.slider-controls-list {
  list-style: none;
}
.slides-list {
  list-style: none;
}
.slide-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.slide-description-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;
}
.slide-description-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.1em;
}

.populars-list {
  list-style: none;
}
.populars-list-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  color: rgb(var(--basic-black));
}

.populars-list-link:active {
  color: rgba(var(--basic-black), 0.3);
}
.populars-list-icon {

}
.populars-list-link:active .icon-opacity {
  fill-opacity: 0.3;
}

.services-navigation-list {
  list-style: none;
}
.services-navigation-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: rgb(var(--basic-black));
}
.services-navigation-link:hover {
  background-color: rgb(var(--special-yellow-dark));
}
.services-navigation-link.active {
  color: rgb(var(--special-yellow));

  background-color: rgb(var(--basic-black));
}

.service-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  letter-spacing: 0.2em;
}

.service-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  letter-spacing: 0.1em;
}

.logotypes-list {
  list-style: none;
}
.logotypes-list-logo.logo1:hover {
  background-image: url("../img/logo-1-hover.png");
}
.logotypes-list-logo.logo2:hover {
  background-image: url("../img/logo-2-hover.png");
}
.logotypes-list-logo.logo3:hover {
  background-image: url("../img/logo-3-hover.png");
}
.logotypes-list-logo.logo4:hover {
  background-image: url("../img/logo-4-hover.png");
}


.sorting-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sorting-properties-list {
  list-style: none;
}
.sorting-properties-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: rgba(var(--basic-black), 0.3);
}
.sorting-properties-link.active {
  color: rgb(var(--basic-black));
}
.sorting-properties-link:not(.active):hover {
  color: rgba(var(--basic-black), 0.6);
}
.sorting-properties-link:not(.active):active {
  color: rgba(var(--basic-black), 1);
}

.sorting-order-variants-list {
  list-style: none;
}
.sorting-order-variants-icon:not(.active) .icon-color{
  fill: rgba(var(--basic-black), 0.2);
}
.sorting-order-variants-icon.active .icon-color{
  fill: rgba(var(--basic-black), 1);
}
.sorting-order-variants-link:hover .icon-color{
  fill: rgba(var(--basic-black), 0.4);
}
.sorting-order-variants-link:active .icon-color{
  fill: rgba(var(--basic-black), 1);
}

.pagination {
  min-height: 70px;
  margin-left: 72px;
  margin-bottom: 78px;

  background-color: rgb(var(--basic-pagination-grey));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination-page-number-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination-page-number-item {
  margin-right: 30px;
}
.pagination-button,
.pagination-page-number-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pagination-page-number-link:not(.active) {
  color: rgba(var(--basic-black), 0.3);
}
.pagination-page-number-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.pagination-page-number-link:active {
  color: rgba(var(--basic-black), 1);
}
.pagination-button {
  padding: 25px 30px;
}
.pagination-button:hover {
  background-color: rgb(var(--basic-pagination-button-hover));
}
.pagination-button:active {
  color: rgba(var(--basic-black), 0.3);
  background-color: rgb(var(--basic-pagination-button-hover));
}

