:root {
  --basic-black: 0, 0, 0;
  --basic-dark: 54, 54, 54;
  --basic-grey: 70, 70, 70;

  --basic-half-grey: 126, 126, 126;
  --basic-grey-light: 229, 229, 229;
  --basic-white: 255, 255, 255;
  --basic-pagination-grey: 235, 235, 235;
  --basic-pagination-button-hover: 217, 217, 217;
  --basic-filter-grey: 220, 220, 220;
  --basic-toggle: 196, 196, 196;


  --basic-modal-form-input-gray: 242, 242, 242;
  --basic-modal-form-input-hover-gray: 234, 234, 234;

  --special-yellow-dark: 240, 197, 46;
  --special-yellow: 247, 226, 150;
  --special-green: 145, 201, 47;
  --special-user-nagivation-icon: 255, 198, 0;
  --special-yellow-decoration-bar: 255, 198, 0;

  --status: 246, 218, 218;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2"),
  url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2"),
  url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2"),
  url("../fonts/opensanslight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"),
  url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;

  color: rgb(var(--basic-black));
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Header start*/
.main-header {
  position: relative;
  background-color: rgb(var(--special-yellow));
  padding: 0 60px;

  margin-top: 19px;
}
.main-header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 100%;
  height: 21px;

  background-color: rgb(var(--basic-white));
  z-index: 0;
}

.main-header-index {
  /*min-height: 344px;*/
}
.main-navigation {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-header-logo {
  margin: 0;
  padding: 0;

  width: 163px;
  height: 35px;
  margin-bottom: 16px;

  z-index: 1;
}
.main-header-logo-svg {
  padding: 0;
  margin: 0;
}
.main-header-logo:hover {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}

.header-middle {
  display: flex;
  margin-bottom: 34px;
}
.header-user-navigation-list {
  min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
.header-user-navigation-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  margin-right: 40px;
}

.header-user-navigation-item.login:not(.logged-in) {
  margin-right: 214px;
}
.header-user-navigation-item.logged-in {
  margin-right: 20px;
}
.header-user-navigation-item.compare {
  margin-right: 45px;
}

.header-user-navigation-item:last-child{
  margin-right: 0;
}
.header-user-navigation-item.logged-in + .header-user-navigation-item {
  margin-right: auto;
}
.header-user-navigation-icon {
  margin-right: 7px;
}

.header-user-navigation-item.logout .header-user-navigation-link {
  color: rgba(var(--basic-black), 0.3);
}
.header-user-navigation-link:not(.logout):hover {
  opacity: 0.6;
}
.header-user-navigation-link:not(.logout):active {
  opacity: 0.3;
}

.header-site-navigation-list {
  width: 1040px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.header-site-navigation-item {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(var(--basic-black));
  margin-right: 10px;
}
.header-site-navigation-item:last-child {
  margin-right: 0;
}
.header-site-navigation-item:not(.submenu-opener){
  letter-spacing: 0.2em;
}
.header-site-navigation-link {
  display: block;
}
.header-site-navigation-item.submenu-opener {
  position: relative;
  display: flex;
  flex-direction: row;

  margin-right: 311px;
}
.header-site-navigation-item.submenu-opener .header-site-navigation-link {
  margin-right: 15px;
}

.header-site-navigation-item.delivery {
  margin-right: 35px;
}
.header-site-navigation-item.warranty {
  margin-right: 107px;
}
.header-site-navigation-item.contacts {
  letter-spacing: 0.2em;
  margin-right: -0.2em;
}
.header-site-navigation-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.header-site-navigation-link:active {
  color: rgba(var(--basic-black), 0.3);
}



.search-form {
  position: relative;
  display: flex;
  width: 440px;

  margin: 0;
  margin-right: 100px;
  padding: 0;
}
.search-form::before {
  position: absolute;
  content: "";
  display: block;

  left: 0;
  top: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center center;

  width: 16px;
  height: 15px;
}
.search-form-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: rgba(var(--basic-black), 0.3);

  min-width: 356px;

  margin: 0;
  padding: 14px;
  padding-left: 38px;
  padding-right: 0;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}
.search-form-input:hover {
  color: rgba(var(--basic-black), 0.6);
}
.search-form-input:focus {
  color: rgba(var(--basic-black), 1);

  border-bottom: 2px solid rgb(var(--basic-black));
}
.search-form-input::placeholder {
  color: inherit;
}
.search-form-input::-webkit-input-placeholder {
  color: inherit;
}
.search-form-input::-moz-placeholder {
  color: inherit;
}
.search-form-input::-ms-input-placeholder {
  color: inherit;
}

.search-form-button {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(var(--basic-black));
  width: 84px;


  background-color: transparent;
  border: 2px solid rgb(var(--basic-black));

  margin: 0;
  padding: 13px 15px;
}
.search-form-button:hover {
  color: rgb(var(--basic-white));

  background-color: rgb(var(--basic-black));
}
.search-form-button:active {
  color: rgba(var(--basic-white), 0.3);

  background-color: rgb(var(--basic-black));
}

.search-form-input:focus + .search-form-button,
.search-form-button:hover {
  display: block;
}


.header-bottom {
  margin-bottom: 50px;
}
.header-site-navigation-item.submenu-opener:hover .extra-navigation-section,
.extra-navigation-section:hover {
  display: flex;
  flex-wrap: wrap;
}
.extra-navigation-section {
  display: none;
  position: absolute;

  left: -60px;
  top: 20px;
  letter-spacing: normal;

  background-color: rgb(var(--special-yellow));
  color: rgb(var(--basic-black));
  margin: 0;
  padding: 0;

  width: 1160px;
  padding: 0 60px;
  flex-direction: row;
  padding-top: 33px;
  padding-bottom: 40px;

  z-index: 100;
}

.extra-navigation-list {
  min-width: 160px;

  margin: 0;
  padding: 0;
  margin-right: 64px;

  list-style: none;
}
.extra-navigation-list.second {
  margin-right: 25px;
}
.extra-navigation-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  margin-bottom: 16px;
}

.extra-navigation-item:last-child {
  margin-bottom: 0px;
}
.extra-navigation-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;

  color: rgb(var(--basic-black));
}
.extra-navigation-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.extra-navigation-link:active {
  color: rgba(var(--basic-black), 0.3);
}

/* Header end*/

/*Slider section*/
.slider-section {
  position: relative;
  margin-bottom: 96px;
  min-height: 493px;
}

.slider-section::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 114px;
  background-color: rgb(var(--special-yellow));
}

.slider-controls-list {
  position: absolute;

  bottom: 152px;
  right: 60px;

  padding: 0;
  margin: 0;

  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  z-index: 100;

}

.slider-controls-button {
  border: none;
  padding: 0;
  margin: 0;

  background-color: transparent;
  cursor: pointer;
}
.slider-controls-button::before {
  display: block;
  content: url("../img/slider-button-off.svg");

  width: 12px;
  height: 12px;

  cursor: pointer;
}

.slider-controls-button:hover::before {
  opacity: 0.6;
}
.slider-controls-button:active::before {
  content: url("../img/slider-button-on.svg");
  opacity: 1;
}

.slider-controls-button.active::before {
   content: url("../img/slider-button-on.svg");
 }
.slider-controls-button.active:hover::before {
  opacity: 0.6;
}
.slider-controls-button.active:active::before {
  opacity: 0.6;
  content: url("../img/slider-button-off.svg");
}

.slider-controls-item {
  margin-right: 18px;
}
.slider-controls-item:last-child {
  margin-right: 0;
}

.slides-list {
  padding: 0;
  margin: 0;
  counter-reset: my-awesome-counter;
}
.slides-list-item {
  display: none;
  counter-increment: my-awesome-counter;
}
.slides-list-item.active {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slides-list-item::before {
  content: "0" counter(my-awesome-counter);
  position: absolute;
  top: -32px;
  right: 47px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;

  color: rgb(var(--basic-white));
}
.slides-list-item.slide-1::before {
  content: "01"
}
.slides-list-item.slide-2::before {
  content: "02"
}
.slides-list-item.slide-3::before {
  content: "03"
}


.slider-list-item-image-wrapper {
  width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: -13px;
}
.slides-list-item.slide-2 .slider-list-item-image-wrapper {
  margin-left: 9px;
  margin-top: 10px;
}
.slides-list-item.slide-3 .slider-list-item-image-wrapper {
  margin-left: 13px;
  margin-top: 65px;
}
.slider-list-item-content {
  width: 560px;

  padding-right: 60px;
  display: flex;
  flex-direction: column;
  padding-top: 78px;

}

.slider-controls-list {
  list-style: none;
}
.slides-list {
  list-style: none;
}
.slide-heading {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide-heading::before {
  position: absolute;
  content: "";
  left: 0;
  top: -59px;
  width: 100px;
  height: 7px;
  background-color: rgb(var(--basic-white));

}
.slide-text {
  padding: 0;
  margin: 0;
  margin-bottom: 53px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
.slides-list-item .button {
  width: fit-content;
  width: -moz-fit-content;
  margin-bottom: 52px;
  display: inline-block;
}

.slide-features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.slide-features-list-item-wrapper {
  margin-right: 62px;
  display: flex;
  flex-direction: column-reverse;
}
.slide-3 .slide-features-list-item-wrapper {
  margin-right: 27px;
}
.slide-features-list-item-wrapper:last-child {
  margin-right: 0;
}
.slide-description-name {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;
}
.slide-description-value {
  margin: 0;
  margin-bottom: 15px;

  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.1em;
}
/*Slider end*/

/* Populars start */
.populars-list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  column-gap: 40px;
}
/* Populars end */

/*Logotypes start*/
.logotypes-section {
  margin-bottom: 67px;
}
.logotypes-list {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  column-gap: 40px;
}
/*Logotypes end*/

/* About us and contacts start*/
.two-columns-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 85px;
  padding-top: 20px;
}

.contacts-section {
  width: 560px;
}

.about-us-section {
  width: 500px;
  min-height: 580px;
  padding: 0;
  margin: 0;
}
.about-us-heading {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

  margin-bottom: 41px;
  padding-top: 58px;
}
.about-us-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;
  background-color: rgb(var(--basic-black));
}
.about-us-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  margin-bottom: 40px;
}
.about-us-companies {
  margin: 0;
  padding: 0;
  margin-top: 61px;
  margin-bottom: 80px;
  list-style: none;
}
.about-us-companies-item {
  font-family: "Gilroy", "Arial", sans-serif;
  list-style-image: url("../img/list-bullet-icon.svg");
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-left: 17px;
  padding-left: 15px;
}

.about-us-companies-item:last-child {
  margin-bottom: 0;
}


.button {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  color: rgb(var(--basic-black));

  padding: 7px 40px;
  z-index: 2;

  cursor: pointer;
}
.button::before,
.services-navigation-item:not(.active) .services-navigation-link::before {
  display: block;

  content: "";
  position: absolute;
  top: calc(50% - 8px/2);
  left: 0;

  width: 100%;
  height: 8px;

  background-color: rgb(var(--special-yellow-dark));

  z-index: -1;
  transition:
    0.15s height,
    0.15s top,
    0.15s bottom
}


.button:hover::before,
.services-navigation-item:not(.active) .services-navigation-link:hover::before {
  height: 100%;
  top: 0;
  bottom: 0;
}

.button:active {
  color: rgba(var(--basic-black), 0.3);
}

.about-us-section .button {
  padding-left: 22px;
  padding-right: 20px;
}

.contacts-heading {
  margin: 0;
  padding: 0;
  position: relative;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

  color: var(--basic-black);

  margin-bottom: 41px;
  padding-top: 58px;

  word-break: break-word;
}

.contacts-heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;
  background-color: rgb(var(--basic-black));
}
.contacts-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  margin-bottom: 40px;
}
.contacts-map {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 81px;
}
.contacts-section .button {
  padding-right: 37px;
}
/* About us and contacts end*/



/* Footer start*/
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 40px;
  min-height: 53px;
}
.main-footer {
  background-color: rgb(var(--basic-dark));
  color: rgb(var(--basic-white));
  padding-bottom: 65px;
}

.main-footer-logo {
  width: 163px;
  height: 35px;
  align-self: flex-end;
}

.main-footer-logo:hover {
  opacity: 0.6;
}
.main-footer-logo:active {
  opacity: 0.3;
}
.main-footer-logo .logo-color {
  fill: rgb(var(--special-yellow-dark));
}

.footer-user-navigation-list {
  margin: 0;
  padding: 0;
  min-width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-start;
  flex-wrap: wrap;

  list-style: none;
}

.footer-user-navigation-link svg {
  margin-right: 5px;
}
.footer-user-navigation-item:not(:last-child) {
  margin-right: 40px;
}
.footer-user-navigation-item.login {
  margin-right: 41px;
}
.footer-user-navigation-item.login .footer-user-navigation-icon {
  margin-right: 7px;
  padding-top: 2px;
}
.footer-user-navigation-item.login.logged-in .footer-user-navigation-icon {
  margin-right: 9px;
  padding-top: 2px;
}

.footer-user-navigation-item.login.logged-in {
  margin-right: 24px;
}
.footer-user-navigation-item.logout {
  margin-right: 39px;
}
.footer-user-navigation-item.compare {
  margin-right: 43px;
}
.footer-user-navigation-item.compare .footer-user-navigation-icon {
  padding-top: 3px;
  margin-right: 7px;
}
.footer-user-navigation-item.cart {
  margin-right: 0px;
}
.footer-user-navigation-item.cart .footer-user-navigation-icon {
  margin-right: 8px;
}
.footer-user-navigation-link {
  color: rgba(var(--basic-white), 0.7);
}
.footer-user-navigation-link:hover {
  color: rgba(var(--basic-white), 1);
}
.footer-user-navigation-link:active {
  color: rgba(var(--basic-white), 0.3);
}
.footer-user-navigation-icon > path,
.footer-user-navigation-icon > g {
  fill: rgb(var(--special-user-nagivation-icon));
}
.footer-user-navigation-link:hover .icon-color,
.footer-user-navigation-link:hover .icon-color {
  fill: rgba(var(--special-user-nagivation-icon), 0.6);
}
.footer-user-navigation-link:active .icon-color,
.footer-user-navigation-link:active .icon-color {
  fill: rgba(var(--special-user-nagivation-icon), 0.3);
}

.footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: 67px;
}
.address {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-right: 68px;
}
.address p {
  margin: 0;
  padding: 0;
}

.footer-site-navigation-list {
  margin: 0;
  padding: 0;
  min-width: 588px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;

  flex-wrap: wrap;
}

.footer-site-navigation-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: var(--basic-white);

  margin-right: 33px;
}
.footer-user-navigation-item:last-child {
  margin-right: 0px;
}
.footer-site-navigation-link {
  color: var(--basic-white);
}
.footer-site-navigation-link:hover {
  color: rgba(var(--basic-white), 0.6);
}
.footer-site-navigation-link:active {
  color: rgba(var(--basic-white), 0.3);
}

.tel {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 200px;
  margin: 0;
  padding: 0;
}

.tel {
  padding: 0;
  margin: 0;
  color: var(--basic-white);
}
.tel a {
  color: var(--basic-white);
  margin-right: -4px;
  margin-left: 4px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.decorate-bar {
  width: 80px;
  height: 7px;

  margin-top: 12px;
  background-color: rgb(var(--special-yellow-decoration-bar));
}
.socials-section {
  min-width: 293px;
}
.socials-list {
  width: 240px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.socials-list-item {
  margin-right: 20px;
  opacity: 0.3;
}
.socials-list-item:last-child {
  margin-right: 0;
}
.socials-list-item:hover {
  opacity: 0.6;
}
.socials-list-item:active {
  opacity: 0.1;
}
.socials-list-item .facebook::before {
  content: url("../img/facebook.svg");
}
.socials-list-item .instagram::before {
  content: url("../img/instagram.svg");
}
.socials-list-item .twitter::before {
  content: url("../img/twitter.svg");
}

.copyright {
  margin: 0;
  padding: 0;
}
.copyright-logo:hover {
  opacity: 0.6;
}
.copyright-logo:active {
  opacity: 0.3;
}
/* Footer end*/

/* Catalog title and breadcrumbs start*/
.catalog-title {
  margin: 0;
  padding: 0;
  padding-top: 43px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  margin-left: 60px;
  margin-bottom: 30px;

  color: var(--basic-black);
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-left: 60px;
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.breadcrumbs-list-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  margin-right: 40px;
}
.breadcrumbs-list-item:not(:last-of-type)::after {
  position: absolute;
  content: url("../img/arrow-nav.svg");
  right: -25px;
  top: 2px;
}

.breadcrumbs-list-link {
  color: rgba(var(--basic-black), 0.3)
}
.breadcrumbs-list-link:hover {
  color: rgba(var(--basic-black), 0.6)
}
.breadcrumbs-list-link:active {
  color: rgba(var(--basic-black), 0.1)
}
/* Catalog title and breadcrumbs end*/

/*Catalog filter and card list*/

.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: rgb(var(--basic-grey-light));
  z-index: 1;
}

.catalog-two-column-section {
  position: relative;

  display: grid;
  grid-template-columns: 328px 832px;
}
.overflow-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.catalog-two-column-section::before {
  position: absolute;
  right: calc(50% + 253px);

  width: 100%;
  height: 100%;
  content: "";

  top: 0;
  background-color: rgb(var(--basic-grey-light));
  z-index: 0;
}

.filter-title::before {
  position: absolute;

  width: calc(328px + 200%);
  height: 100%;
  content: "";


  top: 0;
  right: 0;
  background-color: rgb(var(--basic-filter-grey));
  z-index: -1;
  overflow-x: hidden;
}
.filter-title {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 68px;
  padding-top: 25px;
  padding-bottom: 25px;

  min-height: 70px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  word-break: break-word;

}
.filter-form {
  padding-left: 60px;
  padding-right: 68px;
  padding-top: 68px;
}
.sorting::before {
  position: absolute;

  width: calc(728px + 200%);
  height: 100%;
  content: "";


  top: 0;
  left: 0;
  background-color: rgb(var(--basic-grey-light));
  z-index: -1;
  overflow-x: hidden;
}
.sorting {
  position: relative;
  margin:0;
  padding: 0;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 72px;
  padding-top: 25px;
  padding-bottom: 23px;
  background-color: rgb(var(--basic-grey-light));
}

.items-section {
  padding-top: 70px;
  margin-bottom: 40px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 39px;
}
.filter-group.bluetooth {
  margin-bottom: 46px;
}
.filter-list {
  margin: 0;
  padding: 0;
}
.filter-list.bluetooth-list {
  padding-top: 3px;
}
.sorting-title {
  min-width: 160px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  word-break: break-word;
}
.sorting-properties-list {
  min-width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.sorting-properties-item {
  margin-right: 30px;
}
.sorting-properties-item:last-child {
  margin-right: 0;
}
.sorting-properties-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: rgba(var(--basic-black), 0.3);
}
.sorting-properties-link.active {
  color: rgb(var(--basic-black));
}
.sorting-properties-link:not(.active):hover {
  color: rgba(var(--basic-black), 0.6);
}
.sorting-properties-link:not(.active):active {
  color: rgba(var(--basic-black), 1);
}

.sorting-order-variants-list {
  min-width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 7px;
  list-style: none;
  flex-wrap: wrap;
}
.sorting-order-variants-icon:not(.active) .icon-color{
  fill: rgba(var(--basic-black), 0.2);
}
.sorting-order-variants-icon.active .icon-color{
  fill: rgba(var(--basic-black), 1);
}
.sorting-order-variants-link:hover .icon-color{
  fill: rgba(var(--basic-black), 0.4);
}
.sorting-order-variants-link:active .icon-color{
  fill: rgba(var(--basic-black), 1);
}
.filter-list-item {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}
.filter-list-item:last-child {
  margin-bottom: 0;
}


.check {
  padding-left: 40px;
}
.check__box {
  position: absolute;

  margin-left: -40px;
  margin-top: 0px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check__input::before {
  position: absolute;

  width: 100%;
  height: 24px;
}

.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
}

.check__input:focus + .check__box,
.check__input:hover + .check__box {
   background-image: url("../img/checkbox-off.svg");
   opacity: 0.6;
}
.check__input:active + .check__box {
  background-image: url("../img/checkbox-on.svg");
}
.check__input:checked:focus + .check__box,
.check__input:checked:hover + .check__box {
   background-image: url("../img/checkbox-on.svg");
   opacity: 0.6;
}
.check__input:checked:active + .check__box {
  background-image: url("../img/checkbox-off.svg");
}
.check__input:disabled + .check__box {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.25;
}
.check__input:checked:disabled + .check__box {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.25;
}

.radio {
  padding-left: 40px;
}
.radio__box {
  position: absolute;
  margin-left: -40px;
  margin-top: -2px;

  width: 24px;
  height: 24px;

  background-image: url("../img/radiobutton-off.svg");
}
.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio__input::before {
  position: absolute;

  width: 100%;
  height: 24px;
}

.radio__input:checked + .radio__box {
  background-image: url("../img/radiobutton-on.svg");
}

.radio__input:focus + .radio__box,
.radio__input:hover + .radio__box {
  background-image: url("../img/radiobutton-off.svg");
  opacity: 0.6;
}
.radio__input:active + .radio__box {
  background-image: url("../img/radiobutton-on.svg");
}
.radio__input:checked:focus + .radio__box,
.radio__input:checked:hover + .radio__box {
  background-image: url("../img/radiobutton-on.svg");
  opacity: 0.6;
}
.radio__input:checked:active + .radio__box {
  background-image: url("../img/radiobutton-off.svg");
}
.radio__input:disabled + .radio__box {
  background-image: url("../img/radiobutton-off.svg");
  opacity: 0.25;
}
.radio__input:checked:disabled + .radio__box {
  background-image: url("../img/radiobutton-on.svg");
  opacity: 0.25;
}

.filter-legend {
  display: block;
  width: 100%;
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;

  margin-bottom: 30px;

  padding-top: 17px;

  color: rgb(var(--basic-black));
}
.filter-legend::before {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(var(--basic-black));
}

.filter-group.price-range {
  height: 107px;
  margin-bottom: 39px;
}

.filter-group.price-range .filter-legend {
  margin-bottom: 39px;
}
.range-controls {
  position: relative;
  height: 20px;
}
.range-controls .scale {
  background-color: rgba(var(--basic-black), 0.2);

}
.range-controls .bar {
  height: 2px;
  width: 60%;
  background-color: rgb(var(--special-green));
}
.price-controls {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: 3px;
}
.price-controls input {
  width: 50px;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 20px;
  height: 20px;

  padding: 0;
  margin: 0;


  background-color: rgb(var(--basic-toggle));
  border: 8px solid rgb(var(--basic-white));
  border-radius: 50%;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}
.range-controls .toggle-max {
  left: 114px;
}

.price-controls .price-controls-label,
.price-controls .price-controls-input {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: rgb(var(--basic-black));
}
.price-controls .price-controls-label {
  margin-right: 4px;
}
.price-controls .price-controls-input {
  background-color: transparent;
  border: none;
}
.price-controls .price-controls-input:first-of-type {
  margin-right: 29px;
}


.filter-form label,
.filter-form input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;

  margin-right: 25px;
  color: rgb(var(--basic-black));
}

.price-range label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter-form .colors-list {
  list-style: none;

  padding-left: 2px;
  padding-top: 2px;
}
.filter-form .bluetooth-list {
  list-style: none;
}


.catalog-list {
  padding: 0;
  margin: 0;
  padding-left: 72px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
  list-style: none;
}
.catalog-list-item {
  position: relative;
  width: 360px;
}
.main-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 26px;
}
.catalog-list-item .item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  width: 276px;
  padding: 0;
  margin: 0;
}
.catalog-list-item .item-price {
  min-width: 85px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;

  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-top: 1px;
  padding-left: 2px;
  margin-right: -4px;
  white-space: nowrap;
}
.catalog-list-item .compare-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: rgba(var(--basic-black), 0.5);
}
.catalog-list-item .compare-link:hover {
  color: rgba(var(--basic-black), 1);
}
.catalog-list-item .compare-link:active {
  color: rgba(var(--basic-black), 0.2);
}

.catalog-list-item .actions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;

  padding-top: 175px;
  padding-bottom: 138px;
  padding-left: 80px;
  padding-right: 80px;

  width: 100%;
  height: 380px;
  opacity: 0;
  background-color: rgba(var(--basic-grey-light), 0.7);
  transition: 0.15s opacity;
}


.catalog-list-item:hover .actions-wrapper {
  opacity: 1;
}

.actions-wrapper .button {
  padding-left: 34px;
  padding-right: 34px;
}

.catalog-list-item.new::before {
  position: absolute;
  content: "";
  background-image: url("../img/new-label.svg");
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
}

.populars-list-section {
  margin-bottom: 80px;
}
.populars-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.populars-list-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  color: rgb(var(--basic-black));
}
.populars-list-item-heading {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.populars-list-item-heading.letterspacing-none {
  letter-spacing: normal;
}
.populars-list-link:hover .populars-list-icon-wrapper {
  background-color: rgb(var(--special-yellow-dark));
}
.populars-list-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: rgb(var(--special-yellow));

  margin-bottom: 38px;
}

.populars-list-link:active {
  color: rgba(var(--basic-black), 0.3);
}
.populars-list-icon {

}
.populars-list-link:active .icon-opacity {
  fill-opacity: 0.3;
}

.services-wrapper {
  position: relative;
  background-color: rgb(var(--basic-grey-light));
  padding-bottom: 111px;
  margin-bottom: 88px;
}

.services-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.services-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 100%;
  height: 104px;

  background-color: rgb(var(--basic-white));
  z-index: 0;
}
.services-slides {
  padding-left: 116px;
  flex-grow: 1;
  width: 840px;
  z-index: 1;
}
.service-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}
.service-text {
  padding: 0;
  margin: 0;
}
.services-list {
  min-width: 284px;
}
.services-navigation-list {
  position: relative;
  margin: 0;
  margin-top: 86px;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.services-navigation-list::after {
  position: absolute;
  content: "";

  right: 0;
  top: -80px;

  height: 319px;
  width: 7px;


  background-color: rgb(var(--basic-black));
}


.services-navigation-link {
  position: relative;
  display: inline-block;
  text-align: center;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  padding: 9px 0;

  min-width: 160px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: rgb(var(--basic-black));
  z-index: 0;
}
.services-navigation-item {
  width: 100%;
  display: flex;
  margin-bottom: 21px;
}
.services-navigation-item:nth-child(2) {
  margin-bottom: 24px;
  margin-left: 1px;
}
.services-navigation-item.active::after {
  content: "";
  display: block;
  margin-left: -1px;
  height: 40px;
  width: 100px;
  flex-grow: 1;
  background-color: rgb(var(--basic-black));
}
.services-navigation-item.active .services-navigation-link {
  color: rgb(var(--special-yellow));

  background-color: rgb(var(--basic-black));
}

.services-slide {
  display: none;
  min-height: 182px;
  padding-top: 77px;
}

.services-slide.active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services-slide-content {
  width: 600px;
  padding-right: 15px;
}
.services-slide-image-wrapper {
  width: 174px;
  height: 206px;
  align-self: flex-start;

  background-repeat: no-repeat;
  background-position: top right;
}
.services-slide.slide-1 .services-slide-image-wrapper{
  background-image: url("../img/delivery.svg");
}
.services-slide.slide-2 .services-slide-image-wrapper{
  background-image: url("../img/warranty.svg");
}
.services-slide.slide-3 .services-slide-image-wrapper{
  background-image: url("../img/credit.svg");
}
.service-heading {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  word-break: break-word;
  letter-spacing: 0.2em;
}

.service-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;

  letter-spacing: 0.1em;
}

.logotypes-list {
  list-style: none;
}
.logotypes-list-logo.logo1:hover {
  background-image: url("../img/logo-1-hover.png");
}
.logotypes-list-logo.logo2:hover {
  background-image: url("../img/logo-2-hover.png");
}
.logotypes-list-logo.logo3:hover {
  background-image: url("../img/logo-3-hover.png");
}
.logotypes-list-logo.logo4:hover {
  background-image: url("../img/logo-4-hover.png");
}




.pagination {
  min-height: 70px;
  margin-left: 72px;
  margin-bottom: 78px;

  background-color: rgb(var(--basic-pagination-grey));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination-page-number-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pagination-page-number-item {
  margin-right: 30px;
}
.pagination-button,
.pagination-page-number-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pagination-page-number-link:not(.active) {
  color: rgba(var(--basic-black), 0.3);
}
.pagination-page-number-link:hover {
  color: rgba(var(--basic-black), 0.6);
}
.pagination-page-number-link:active {
  color: rgba(var(--basic-black), 1);
}
.pagination-button {
  padding: 25px 30px;
}
.pagination-button:hover {
  background-color: rgb(var(--basic-pagination-button-hover));
}
.pagination-button:active {
  color: rgba(var(--basic-black), 0.3);
  background-color: rgb(var(--basic-pagination-button-hover));
}



.map-modal {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-width: 994px;
  min-height: 593px;
  z-index: 9999;
}
.send-message-form {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 9999;

  padding-top: 82px;
  padding-bottom: 69px;
  padding-left: 100px;
  padding-right: 100px;

  width: 960px;
  min-height: 550px;

  background-color: rgb(var(--basic-white));
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);

}
.visible {
  visibility: visible;
}
.modal-message-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


}

.form-input-group {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;

  width: 360px;
}
.form-input-group label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: rgb(var(--basic-black));

  margin-bottom: 10px;
}

.form-input-group input,
.form-input-group textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: rgba(var(--basic-black), 1);

  background-color: rgb(var(--basic-modal-form-input-gray));
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid transparent;
}

.form-input-group textarea {
  resize: none;
}

.form-input-group input::placeholder,
.form-input-group textarea::placeholder {
  color: rgba(var(--basic-black), 0.4);
}
.form-input-group input::-webkit-input-placeholder,
.form-input-group textarea::-webkit-input-placeholder {
  color: rgba(var(--basic-black), 0.4);
}
.form-input-group input::-moz-placeholder,
.form-input-group textarea::-moz-placeholder {
  color: rgba(var(--basic-black), 0.4);
}
.form-input-group input::-ms-input-placeholder,
.form-input-group textarea::-ms-input-placeholder {
  color: rgba(var(--basic-black), 0.4);
}


.form-input-group input:hover,
.form-input-group textarea:hover
{
  background-color: rgb(var(--basic-modal-form-input-hover-gray));
}
.form-input-group input:focus,
.form-input-group textarea:focus
{
  border: 2px solid rgb(var(--special-yellow-dark));
  background-color: rgb(var(--basic-white));
}
/* Верну на главе с JS */
/*.form-input-group input:invalid,*/
/*.form-input-group textarea:invalid*/
/*{*/
/*  background-color: rgb(var(--status));*/
/*}*/



.message-group {
  width: 100%;
  flex-grow: 1;
}
.form-submit {
  flex-shrink: 0;
  margin-top: 35px;
}
.close-button {
  position: absolute;

  top: 28px;
  right: 30px;

  background-color: transparent;
  border: none;

  opacity: 0.5;

  z-index: 10;
  cursor: pointer;
}

.map-modal .close-button {
  top: 28px;
  right: 30px;
}
.send-message-form .close-button {
  top: 20px;
  right: 15px;
}
.close-button:hover {
  opacity: 1;
}
.close-button:active {
  opacity: 0.3;
}



